@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared styles*/
.display-flex{
    display: flex;
    
}
.navbar{
    width: 100%;
    height: 5.75rem;

    justify-content: space-between;
    align-items: center;
    padding: 0 12.5rem;
    background-color: rgba(65, 37, 103, 1);
}
.nav-links{
   
    gap: 2rem;
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    
}
